.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.weather-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather {
  display: flex;
  box-shadow: 0 0 3px 0;
  width: 200px;
  height: 350px;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}
.request-errors {
  color: #ff0000;
}
.inputCity{
  width: 300px;
}
.input-errors{
  color: red;
}
.hide{
  display: none;
}
