<div class="container">
  <form [formGroup]="requestForm" class="weather-form">
    <div class="find-weather">
      <input type="text" formControlName="city" class="inputCity">
      <div *ngIf="requestForm.controls.city.invalid && requestForm.controls.city.touched" class="input-errors">
        <p class="input-errors" *ngIf="requestForm.controls.city.errors && requestForm.controls.city.errors.pattern">Enter only letters</p>
      </div>
      <div class="request-errors" *ngIf="requestError">
        <p>Not Found</p>
      </div>
    </div>
    <div class="weather" *ngIf="weatherData" [ngClass]="{'show': show}">
      <h3>{{weatherData.name}}</h3>
      <p>{{weatherData.weather[0].main}}</p>
      <img src="https://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png" alt="Wrong">
      <p>{{weatherData.main.temp}}</p>
    </div>
  </form>

</div>
